body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}


    /* common */


.container {
    min-width: 320px;
    max-width: 1158px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
       max-width: 768px;    
  }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


    /* header */


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-list,
.address {
    display: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    line-height: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
      display: none;
    }

    .header-nav {
        display: flex;
        margin-right: auto;
        align-items: center;
    }
    
    .nav-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        border-radius: 2px;
        width: 48px 64px;
        height: 4px;
        background-color: #404bbf;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link.current::after {
        opacity: 1;
    }    
    
    
    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }
    
    .header-menu-list {
        display: flex;
        gap: 40px;
    }
    
    .address {
        font-style: normal;
        display: block;
    }
    
    .address-contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }

    
    .logo {
        padding: 24px 0;
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }

    .address-contacts-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


    /* mobile menu */


.mobile-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translatex(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translatex(0%);
}

.mobile-menu-conteiner {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    padding: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    fill: #2e2f42;
    background-color: #e7e9fc;
    cursor: pointer;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.item-mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-address-contacts {
    margin-bottom: 24px;
}

.current {
    color: #404bbf;
}

.mobile-menu-close {
    position: absolute;
    right: 24px;
    top: 24px;
    padding: 0;
    background-color: transparent;
    fill: #2e2f42;
    border: none;
    line-height: 0;
}

.contacts-mob {
    font-style: normal;
    margin-bottom: 48px;
}

.mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.social-mob-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.logo-menu-mob {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    height: 40px;
    width: 40px;
}

.mob-icon-link {
    fill: #f4f4fd;
}


    /* hero */


.hero {
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mob-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 36px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin: auto;
    min-width: 169px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    display: block;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
    display: none;
    }

    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tab-bg.jpg);
        }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 36px;
    }

        .btn {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            border-radius: 4px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .btn:hover,
        .btn:focus {
            background-color: #404bbf;
        }

    @media (min-resolution: 2x){
        .hero { background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-tab-bg@2x.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .mobile-menu {
        display: none;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-pc-dg.jpg);
    }

    .hero-title {
        margin-bottom: 48px;
    }

    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-pc-dg@2x.jpg);
        }
    }
}


    /* Section 1 */


.feature {
    background-color: #fff;
}

.features {
    padding: 96px 0;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px
}
    
.icon-item {
    display: none;
}

.feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.feature-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .feature-list {
        gap: 72px 24px;
    }
   
    .feature-item {
        width: calc((100% - 24px) / 2);
    }

    .feature-title {
        font-weight: 500;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .feature {
        background-color: #fff;
    }
    
    .features {
        padding: 120px 0;
    }

    .feature-list {
        display: flex;
        gap: 24px;
    }

    .feature-item {
        width: calc((100% - 72px) / 4);
    }

    .icon-item {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feature-title {
        font-size: 20px;
        line-height: 1.2;
    }
 
    .feature-text {
        font-weight: 400;
    } 
}


    /* Section 2> */


.page-item {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.page-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

.team-title {
    padding-top: 32px;
    padding-bottom: 32px;
}

.page-team-photo {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-images {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.icon-menu {
    display: flex;
    justify-content: center;
    gap: 24px; 
} 

.icon-social {
    height: 40px;
    width: 40px;
}

.link-social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.icon-link {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .page-item {
        background-color: #f4f4fd;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .page-team {
        font-weight: 700;
        font-size: 36px;
    }

    .team-list {
        justify-content: center;
        gap: 64px 24px;
    }


    .page-team-photo {
        background-color: #ffffff;
        border-radius: 0 0 4px 4px;
        text-align: center;
        border-radius: 0 0 4px 4px;
        width: 264px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }

    .team-title {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 1158px) {
    .page-item {
        padding-top: 120px;
        padding-bottom: 120px;
    }

        .page-team {
            font-weight: 500;
    }

    .team-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .link-social {
        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-social:hover,
    .link-social:focus {
        background-color: #404bbf;
    }

    .icon-link {
        fill: #f4f4fd;
    }
}


    /* Section 3 */


.portfolio {
    text-transform: capitalize;
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.overlay {
    display: none;
}

.project-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.project-content-text {
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.project-text {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

@media screen and (min-width: 768px) {
    .portfolio-item {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-contents {
        width: calc((100% - 24px) / 2);
    }

    .overlay {
        display: none;
    }

}

@media screen and (min-width: 1158px) {
    .portfolio-item {
        gap: 48px 24px;
    }

    .card-content {
        position: relative;
        overflow: hidden;
    }

    .portfolio-contents {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-contents:hover .overlay {
        opacity: 1;
        transform: translateY(0%);
     }

    .overlay {
        display: block;
        padding: 40px 32px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        color: #f4f4fd;
        overflow: hidden;
        opacity: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .project-contents {
        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-contents:hover,
    .portfolio-contents:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }
}


    /* Footer */

.main-footer {
    margin-bottom: 72px;
}

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #2e2f42;
    display: flex;
    flex-wrap: wrap;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.logo-part-footer {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.social-footer {
    margin-bottom: 72px;
}

.icon-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
    justify-content: center;
    color: #ffffff
    
}

.icon-menu-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.icon-social-footer {
    height: 40px;
    width: 40px;
}

.link-social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.subscribe-conteiner {
    justify-content: center;
    margin-left: auto;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.form-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.btn-subscribe {
    display: inline-flex;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    gap: 16px;
    margin: auto;
}

.icon-frame {
    position: relative;
    top: 0;
    left: 0;
    fill: #fff;
}


@media screen and (min-width: 768px) {
    

    .logo-footer {
        justify-content: left;
    }

    .icon-title {
        text-align: left;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-title {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 584px;
    }

    .form-footer {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-title {
            text-align: left;
        }

    .subscribe-conteiner {
        margin: 0;
    }
    .form-input {
        width: 264px;
    }

} 

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .logo-footer {
        margin-bottom: 16px;
        display: inline-block;
        text-transform: uppercase;
    }

    .link-social:hover,
    .link-social:focus {
        background-color: #404bbf;
    }

    .link-social-footer {
        transition-property: color, background-color, box-shadow;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-social-footer:hover,
    .link-social-footer:focus {
        background: #31d0aa;
    }

    .footer-title {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        width: 1158px;
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    input::placeholder {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
    }
}

/* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    padding: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    fill: #2e2f42;
    background-color: #e7e9fc;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-conteiner-block {
    margin-bottom: 8px;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-cont {
    position: relative;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-input:hover {
    border: 1px solid #4d5ae5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
}

.textarea-user {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.textarea-user:focus {
    border-color: #4D5AE5;
}

.modal-form-con-checkbox {
    margin-bottom: 24px;
}

.send-btn {
    display: block;
    border-radius: 4px;
    margin: auto;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 169px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label-checkbox a {
    text-decoration: underline;
    color: #4d5ae5;
}

.checkbox:checked+.label-checkbox .custom-checkbox {
    background-color: #404bbf;
    border: transparent;
    fill: #f4f4fd;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.cont-user-text {
    margin-bottom: 16px;
}

.textarea-user {
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
}

.textarea-user::placeholder {
    font-weight: 400;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}


@media screen and (min-width: 768px) {
   .modal {
        width: 408px;
    }
}

@media screen and (min-width: 1158px) {
    .close-btn:hover,
    .close-btn:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff
    }

    .close-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .textarea-user:focus {
        border: 1px solid #4d5ae5;
        outline: transparent;
    }
}